@tailwind base;
@tailwind components;
@tailwind utilities;

.w-1400{
    width: 1400px;
}

.mx-l-100{
    margin-left: 100px;
    
}
.vertical-line {
    border-left: 2px solid #000; /* Màu và kích thước của đường thẳng */
    height: 100px; /* Chiều cao của đường thẳng */
}
.mx-b-30{
    margin-bottom: 30px;
}
.mx-l-50{
    margin-left: 50px;
}
.mx-l-30{
    margin-left: 30px;
}
.mx-l-90{
    margin-left: 370px;
}
.mx-l-1000{
    margin-left: 1000px;
}
.mx-l-760{
    margin-left: 760px;
}